<header class="contain-to-grid">
        <div class="row">
            <div class="large-12 column">
                <nav id="menu" class="top-bar">

                    <ul class="title-area">
                        <li class="name">
                            <%= link_to image_tag("logo.png", :alt => "Inicio"), root_path %>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>MENÚ</span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li><%= link_to "Precio", precio_path %>
                            </li>
                            <li><%= link_to "Como funciona", como_funciona_path %>
                            </li>
                            <li><%= link_to "Contacto", contacto_path %>
                            </li>
                            <li><%= link_to "Entrar", entrar_path %>
                            </li>
                            <li id="signup"><a href="registro.html" class="button no-margin">REGISTRO</a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </header>
